/*  全局字体和大小 */
.root {
    -fx-font-family: "Sans-Serif";
    -fx-font-size: 14px;
}

/*  按钮样式 */
.button {
    -fx-background-color: #4CAF50; /* 绿色背景 */
    -fx-text-fill: white;  /* 白色文字 */
    -fx-padding: 10px; /* 内边距 */
    -fx-background-radius: 5px; /* 圆角 */
}
